
.first{
  margin-top: 20px;
  margin-left: 380px;
  margin-right: 500px;
  display: flex;
  border-bottom: 2px solid #eee;

}
.first h2 {
  color: #333;
  font-weight: bold;
}

.first a {
  color: #d4a017;
  text-decoration: none;
  font-weight: bold;
}

.first a:hover {
  color: #b58900;
}

h2 {
  color: #444;
  font-size: 1.8em;
  padding-bottom: 10px;
  font-family: dancing script;
  margin: auto;
  margin-left: 0px;
}

p {
  font-size: 1em;
  color: #777;
  font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
  margin-top: 10px;

}

.continent {
  margin-top: 20px;
   margin-left: 380px;
  margin-right: 500px;
  display: flex;
  border-bottom: 2px solid #eee;

}

.continent h2 {
  color: #333;
  font-weight: bold;
  padding-right: 0px;
}

.continent a {
  color: #d4a017;
  text-decoration: none;
  font-weight: bold;
}

.continent a:hover {
  color: #b58900;
}
.heading{
  background: url(Images/worldmap.jpeg) no-repeat center center/cover;
  width: 100%;
  height: 600px;
  margin-top: 120px;

}
.h1{
  padding-top: 250px;
  padding-bottom: 0px;
  margin-left: 500px;
  font-weight: 700;
  font-family: dancing script;
  color: white !important;
  font-size: 70px;
}
.heading p{
  margin-top: 30px;
  margin-left: 600px;
  font-size: 25px;
  font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
  color: white !important;
}
.footer-bottom p{
  color :white !important;
}
.second-P{
  color: black;
}
.first-p{
  color: black;
}