/* styles.css */
body {
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    margin: 0;
    padding: 0;
    background-color: rgb(235, 233, 230);
}

.container {
    width: 100%;
    margin: 0 auto;
    /* text-align: center; */
    padding:30px;
    gap: 40px;
    display: flex;
}

.heading0 {
    font-size: 2.5em;
    margin-top: 140px;
    margin-bottom: 10px;
    font-family: dancing script;
    text-align: center;
}

.article-grid {
    display: flex;
    justify-content: space-between;
    height: auto;
    width: 80%;
    flex-wrap: wrap;
}

.article {
    width: 30%;
    box-shadow: 0 10px 20px rgba(0, 0, 0, 0.693);
    margin-bottom: 20px;
    border-radius: 5px;
    gap: 20px;
    overflow: hidden;
}

.article img {
    width: 100%;
    height: auto;
    border-bottom: 2px solid #ccc;
}

.article h2 {
    font-size: 1.2em;
    margin: 15px;
}

.article p {
    font-size: 0.9em;
    color: #555;
    margin: 0 15px 15px 15px;
}

.article a {
    text-decoration: none;
    color: #ff7a00;
    font-weight: bold;
    margin: 15px;
    display: inline-block;
}

.article a:hover {
    text-decoration: underline;
}

/* Responsive design */
@media (max-width: 768px) {
    .article {
        width: 45%;
    }
}

@media (max-width: 480px) {
    .article {
        width: 100%;
    }
}
/* Sidebar */
.sidebar {
    flex: 1;
    padding: 10px;
    background-color: #f9f9f9;
    box-shadow: 0 10px 20px rgba(0, 0, 0, 0.1);
    border-radius: 5px;
    margin-top: 0px;
    height: 800px;
}

.sidebar-section {
    margin-bottom: 20px;
}

.sidebar-section h3 {
    font-size: 1.2em;
    margin-bottom: 10px;
    color: #333;
}

.sidebar-section p {
    font-size: 0.9em;
    color: #555;
}

.sidebar-section ul {
    list-style: none;
    padding: 0;
}

.sidebar-section ul li {
    margin-bottom: 10px;
}

.sidebar-section ul li a {
    text-decoration: none;
    color: #ff7a00;
    font-weight: bold;
}

.sidebar-section ul li a:hover {
    text-decoration: underline;
}
